<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiKey</key>
	<string>b72e36fa-93bb-4860-bbb6-94dc96ac8440</string>
	<key>SiteName</key>
	<string>loginradius.com</string>
</dict>
</plist>
